img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
body{
    background-color: rgb(156, 154, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.tarjeta{
    box-shadow: 0 0 15px rgba(0,0 ,0,0.3);
    border-radius: 0,5rem;
    width: 300px;
    text-align: center;
    background-color: rgb(226, 158, 176);
    padding: 1rem;
}
button{
   background-color: #3882f6;
font-size: 1rem;
color: white;
padding: 0.5rem 1rem;
margin: 0.5rem;
border: none;
border-radius: 0.5rem;
}

button:hover{
    background-color: rgb(165, 105, 165);
    transition: all 0.3s;

}

body.dark {
    background-color: #1f2937; 
    color: beige;
    transition: all 0.3s;
}
body.dark.tarjeta{
background-color: #374151;
    transition: all 0.3s;
    
}
body.dark h1,
body.dark.tarjeta p{
    color: beige;
    transition: all 0.3s;
}
